.error-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-wrapper {
  background-color: var(--btn-bg-color-card);
  width: 40%;
  padding: 8rem;
  border-radius: 1.3rem;
  text-align: center;
  color: var(--font-color);
}
.error-heading {
  font-size: 8rem;
  font-weight: 800;
}
.error-text {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 20px 0;
}
.error-btn {
  display: inline-block;
  padding: 1.3rem 2.6rem;
  background-color: var(--btn-bg-color);
  color: var(--white);
  text-decoration: none;
}
