.create-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.create-form {
  width: 68rem;
  border: 0.05px solid var(--search-bg-color);
  padding: 5.2rem;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  background-color: var(--footer-color);
  border-radius: 1.2rem;
}

.create-heading {
  font-family: "Work sans", sans-serif;
  color: var(--white-color);
}

/* Form Styles */

.form-top {
  display: flex;
  column-gap: 2rem;
}
