.register-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.register-form {
  min-width: 42rem;
  border: 0.05px solid var(--search-bg-color);
  padding: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--footer-color);
  border-radius: 1.2rem;
}

.register-heading {
  font-family: "Work sans", sans-serif;
  color: var(--white-color);
}

.register-form input {
  font-weight: normal;
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;
  margin-bottom: 2rem;
  width: 100%;
  border: none;
  outline: 1px solid var(--search-bg-color);
  color: var(--post-text);
  background-color: var(--search-bg-color);
}

.register-form label {
  align-self: flex-start;
  color: var(--post-text);
  margin-bottom: 0.8rem;
}

.register-form button {
  display: inline-block;
  color: var(--white);
  width: 100%;
  padding: 1.3rem 2.6rem;
  background-color: var(--btn-bg-color);
  background-color: var(--btn-color);
  border-radius: 0.8rem;
  transition: all 0.3s ease-in-out;

  text-decoration: none;
  cursor: pointer;
  border: none;
}

.register-form button:hover {
  background-color: #0a8560;
}

.login {
  color: var(--font-color);
  margin-top: 1.5rem;
}

.login a:visited,
.login a:link {
  color: var(--btn-bg-color);
  text-decoration: none;
}
.login a:hover,
.login a:active {
  border-bottom: 0.2px solid currentColor;
  padding-bottom: 0.3px;
}

/* Create form */

.form-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
